.custom-nav-hidden {
    /* background: rgba(0, 0, 0, 0.795); */
    /* height: 65px; */
    display: none;
}

.custom-nav-container {
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 100;
    background: rgba(0, 0, 0, 0.795);
    /* display: none; */
    /* transition: all 1s ease-in */
}

.header-section {
    background: url("/assets/images/main-compressor.jpg");
    width: 100%;
    top: 0;
    background-size: cover;
    overflow: hidden;
    position: relative;
    height: 100vh;
}

.intro-container {
    position: absolute;
    top: 35%;
    width: 100%;
    /* height: 100vh; */
    ;
    /* width:50%; */
    /* left: 25%; */
}

#particles-container {
    background: rgba(0, 0, 0, 0.795);
}

.custom-title-container {
    color: white;
    padding: 20px;
}

.custom-nav-item {
    padding-right: 20px;
}

.custom-nav-item-container {
    /* margin: 10px; */
    padding: 20px;
    float: right;
}

.custom-nav-item>a {
    color: white;
    font-weight: 500;
    opacity: .8;
    ;
}

.custom-nav-item>a:hover {
    text-decoration: none;
    color: white;
    opacity: 1;
}

.about-me-section {
    height: 100%;
    /* position: absolute; */
    background: white;
    align-items: center;
    text-align: center;
}

.section-heading {
    /* text-decoration-style: dotted; */
    padding-top: 35px;
}

.section-contain {
    margin: 0 auto;
}

.lbl-title {
    width: 25%;
    font-weight: 600;
    color: #1ABC9C;
    padding-right: 30px;
    text-align: left
}

.lbl-key {
    font-weight: 400;
}

.section-container {
    margin-top: 70px;
}

.details-container {
    padding: 10px;
    text-align: left;
    /* position: absolute; */
    /* border-bottom: 1px solid grey; */
    /* width:30%; */
}

.custom-progress-bar {
    background-color: #1ABC9C !important;
}

.section-detail-container {
    width: 90%;
    margin: 25px auto;
    position: relative;
}

.image-container {
    /* box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08); */
    position: absolute;
    top: 0%;
    right: 5%;
    border: 0px solid;
    border-radius: 3%;
}

.image-container:hover {
    /* box-shadow: 2px 4px 19px 15px rgba(0, 0, 0, 0.2), 5px 4px 7px 11px rgba(0, 0, 0, 0.08); */
}

.image-container>img {
    width: 128px;
    height: 140px;
    border-radius: 3%;
    box-shadow: 0x 4px 19px 15px rgba(0, 0, 0, 0.2), 5px 4px 7px 11px rgba(0, 0, 0, 0.08);
    transform: translateZ(90px);
    /* transform: scale(1);
    transition: all .5s ease-out; */
}

/* .image-container>img:hover { */
    /* width: 128px;
    height: 140px;
    border-radius: 3%; */
    /* transform: scale(1.1); */
    /* transform: rotate(0deg); */
    /* transition: all .5s ease-out; */
/* } */

.section-hr {
    width: 70%;
    margin: 0px;
}

.custom-progress-bar-container {
    width: 60%;
    position: absolute;
    right: 0px;
}
.name-div{
    position: absolute;
    text-align: center;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

.lbl-skills {
    position: absolute;
    left: 0px;
}

body {
    overflow-x: hidden;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-button {
    display: none;
}

.custom-title {
    font-size: 25px;
    font-weight: 600;
}

.chevron {
    border-style: solid;
    border-width: 8px 8px 0 0;
    content: '';
    display: inline-block;
    height: 30px;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 30px;
    border-color: rgba(255, 255, 255, 0.61);
    /* transition:  ease-in 1s; */
    /* transform: rotate(0deg); */
    transition: all .2s linear;
}

.chevron:hover {
    cursor: pointer;
    border-color: white;
}

.chevron:active {
    /* translate: rotate(-135deg); */
    transform: scale(.9) rotate(135deg) !important;
    transition: all .2s linear;
}

.chevron.right:before {
    left: 0;
    transform: rotate(45deg);
}

.chevron.bottom {
    top: 0;
    transform: rotate(135deg);
}

.chevron.left:before {
    left: 0.25em;
    transform: rotate(-135deg);
}

.chevron-container {
    position: absolute;
    bottom: 13%;
    width: fit-content;
    left: 50%;
    transform: translateX(50%);
    /* margin: 0px auto; */
    text-align: center;
    align-items: center;
    align-content: center;
}

.dev {
    color: rgb(43, 194, 23);
}

.blinking {
    animation: blinkingText .5s infinite;
}

@keyframes blinkingText {
    0% {
        color: rgb(43, 194, 23);
    }
    100% {
        color: transparent;
    }
}

.experience-section {
    background: #f5f5f5 !important;
}

.experience-month {
    font-size: 19px;
    color: #868585;
    text-transform: uppercase;
    letter-spacing: 0px;
    padding: 10px;
}

.experience-year {
    padding: 15px 0px 0px 5px;
    font-size: 40px;
    font-weight: 700;
}

.experience-end-year {
    color: #4ebd9c;
    padding-bottom: 1px;
    border-bottom: 1px solid #adadad;
}

.experience-company-title {
    color: #4ebd9c;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}

.experience-company-area {
    font-size: 15px;
    padding: 10px;
    font-weight: lighter;
    color: #868585;
}

.experience-duration {
    text-align: left;
    padding: 0px 0px 0px 35px;
}

.experience-text-container {
    padding-top: 5px;
    padding-left: 10px;
    text-align: left;
}

.experience-text-container>p {
    color: #636363;
}

/* .experience-text-container>h3{
    text-align: left
} */

.my-skills-section {
    background: url(/assets/images/code-wallpaper-compressor.jpeg);
    height: fit-contents;
    width: 100%;
    background-size: cover;
    align-items: center;
    text-align: center;
    color: white;
    overflow: visible;
}

.my-skill-transparent {
    position: relative;
    height: fit-content;
    background: rgba(0, 0, 0, 0.85);
}

.skill-row{
    margin-bottom: 20px;
}

.skill-heading {
    clear: both;
    margin-bottom: 15px;
}

.icon-container {
    font-size: 26px;
    border: 0px solid;
    background: white;
    border-radius: 50%;
    color: #4ebd9c;
    position: relative;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    padding: 5px;
    transform: rotate(0deg);
    transition: all .5s ease-out;
}

.icon-container:hover{
    background: #4ebd9c;
    color: white;
    transform: rotate(360deg);
    transition: all .5s ease-out;

}

.skill-item-container {
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.38);
    padding: 20px;
}

.icon-container i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

.skill-item-container:hover{
    animation: bounce 1s;
}

.social{

    display:flex;
    align-content: center;
    justify-content: center;
    margin:40px;
}

ul.social-ico-list{
    position: relative;
    display: flex;
}

.social-ico-list li{
    position: relative;
    list-style: none;
    margin:30px;
    width:60px;
    height: 60px;
    /* transform: rotate(-30deg) skew(30deg); */
    /* background: #333; */
}

.social-ico-list li span{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px; 
    border-radius: 5px;
}

.social-ico-list li:hover span{
    box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.1)
}

.social-ico-list li:hover span:nth-child(5){
    transform: translate(20px,-20px);
    opacity: 1;
}

.social-ico-list li:hover span:nth-child(4){
    transform: translate(15px,-15px);
    opacity: .8;
}
.social-ico-list li:hover span:nth-child(3){
    transform: translate(10px,-10px);
    opacity: .6;
}
.social-ico-list li:hover span:nth-child(2){
    transform: translate(5px,-5px);
    opacity: .4;
}
.social-ico-list li:hover span:nth-child(1){
    transform: translate(0px,0px);
    opacity: .2;
}

.facebook-color span {
    background: #3b5999 !important;
}

.ln-color span{
    background: #0077b5;
}

.insta-color span{
    background: #e4405f;
}

.git-color span{
    background: #24292e;
}